<div class="address-button">
  <button status="primary" outline *ngIf="$account| async as account; else showButtonConnect" class="btn-address">
    <img class="icon-ethereum" src="assets/icons/ethereum-eth.svg" alt="" />
    <span class="amount">{{ ($balance | async) }}</span>
    <span class="address">
      {{ account | address }}
    </span>
  </button>
  <ng-template #showButtonConnect>
    <button (click)="connectWallet()" nbButton status="primary"
      class="btn-connect-wallet bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded inline-flex align-middle">
      <img class="icon-metamask" src="assets/icons/metamask.svg" alt="" />
      <span class="mt-1">Connect Wallet</span>
    </button>
  </ng-template>
</div>