<div class="flex items-center justify-center bg-indigo-900 h-screen">
  <div class="wheel-container">
    <div id="wheel" class="wheel" [class]="{'wheel-spin-on':isRunning, 'wheel-spin-stopping':isStopping}"
      [style.--wheel]="wheelRotation+'deg'">
      <div>
        <span *ngFor="let label of awards; index as index" [class]="'span'+(index+1)">
          <p>{{label}}</p>
        </span>
      </div>
    </div>
    <button class="absolute" class="spin" (click)="rotate()">SPIN <span>{{'>'}}</span></button>
  </div>